   <article class="post">
      <div class = "content">
        <p>User Name: {{Posts.[0].User.username}}</p>
        <p>Posts: {{Posts.length}}</p>
        <a href="/dashboard/edituser">Edit My Info</a>
      </div>
    </article>